/*body*/
body{
    padding: 0;
    margin: 0;
}
.main{
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navbar*/
 .nav-menu{
   background: #010718;
    position: sticky;
    z-index: 0;
   }
.navbar{
    position: sticky;
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
}
/*Navbar logo edit*/
.navbar .logo{
    flex:3;
    margin-left: 10px;
    align-items: center;
    align-self: center;
    text-align: center;
}
.logo img{
    width: 70px;
    margin: 0;
    padding: 0;
}

/*Navbar body list edit*/
.navbar .nav-section{
    flex: 7;
}
.nav-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.nav-section li{
    list-style: none;
    flex:3;
    align-self: center;
}
.nav-section .active a{
    color: #d80202;
    text-decoration: none;
}
.nav-section a{
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}
.nav-section a:hover{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    color: #d80202;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

/*Button used most of the time*/
.about-btn{
    position: relative;
    background: none;
    margin: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid white;
    padding: 0.5em 1em;
}
 .about-btn::before {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.3em;
      right: 20%;
      top: -0.21em;
      transform: skewX(-45deg);
      -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
     .about-btn::after {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.3em;
      left: 20%;
      bottom: -0.25em;
      transform: skewX(45deg);
      -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }

   .about-btn:hover::before {
        right: 80%;
      }
  .about-btn:hover::after {
        left: 80%;
      }
    
/*button to open the nav*/
.nav-open{
    display: none;
    color: white;
    font-size: 1.3em;
}

.nav-open:hover{
    color: #d80202;
    border: none;
    border-bottom: none;
}

/*------Main-------*/

/*Main-body*/
.main-body{
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

/*Main-header*/
.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/bran.jpg)  ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: (2, 9, 24, 0.755);
}
/*About navigation and text displayed under the Nav*/
.about-nav{
padding: 20px;

}
.about-btn a{
    text-decoration: none;
    color: white;
}
.about-btn a:hover{
    text-decoration: none;
    color: white;
}
.about-nav .active{
    background: rgba(133, 2, 2, 0.548) ;
}
 .about-btn{
    position: relative;
    background: none;
    margin: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid white;
    padding: 0.5em 1em;
}
 .about-btn::before {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.3em;
      right: 20%;
      top: -0.21em;
      transform: skewX(-45deg);
      -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
     .about-btn::after {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: #222;
      height: 0.3em;
      left: 20%;
      bottom: -0.25em;
      transform: skewX(45deg);
      -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }

   .about-btn:hover::before {
        right: 80%;
      }
  .about-btn:hover::after {
        left: 80%;
      }
    
   
.about-text{
    position: relative;
    top:100px;
    display: flex;
    font-weight: bold;
    font-size: 2.5em;
    justify-content: center;
    align-self: center;
    text-align: center;
    color:white;
    background: #010718;
    margin: 20px;
    padding: 50px;
}

/*Main about for description of about us*/

.main-about{
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 50px;
}
.about-image{
    padding: 50px;
    flex:5;
    justify-self: center;
    height: 300px;
    right:-100px;
    align-self: center;
    background: url(../img/hall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-desc{
    background: rgb(209, 213, 218);
    padding: 100px;
    flex:7;
}

/*THird main body*/

.main-three{
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    flex-wrap: wrap;
}
.tree-div{
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 10px;
    padding: 20px;
    flex: 3;
    position: relative;
    width: 100%;
}
.tree-div i{
    font-size: 3.5em;
    align-self: center;
    text-align: center;
    color: black;
}
.tree-item{
    font-size: 1.3em;
    font-weight: bold;
}

/*Main four to desc the about */

.main-four{
    padding: 50px;

    background: #010718;
    color: white;
}
.main-four h3{
    font-weight: bold;
    margin: 20px;
}
.main-four p{
    padding: 20px;
    font-family: sans-serif;
    line-height: 2em;
}

/*History div*/
.history{
    margin: 50px;
    padding: 50px;
}
.history h2{
    font-weight: bold;
    margin: 20px;
    color: black;
}
.history p{
    margin:20px;
    line-height: 2em;
}

/*Staffs cards*/
.staff-header{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
}
.staff{
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    background: #010718;
}
.staff-card{
    flex: 4;
    margin: 10px;
    padding: 10px;
    align-items:center;
    padding: 10px;
    text-align: center;
}
.staff-body{
    padding:10px;
    color: white;
}

.staff-name{
    font-weight: bold;
}
.staff-card img{
    width: 150px;
    height: 150px;
    border:1px solid whitesmoke;
    border-radius: 50%;
}

/*Tour and news*/

.main-tour{
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.tour{
flex:6;
display: flex;
flex-direction: row;
align-self: center;
justify-self: center;
padding: 50px;
border-right: 1px solid black;
}
.tour-body{
    margin: 20px;
}
.tour-body h3{
   font-weight: bold;
}
.tour img{
    position: relative;
    width: 40%;
    height: 200px;;
}
.location{
    flex: 5;
}

/*Footer*/
footer{
    color:white;
    background: #010718;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.footer{
 padding: 50px;   
}

/*overlay modal*/
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0%;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(3, 2, 19, 0.953); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    border: none;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #d80202;
    border: none;
    text-decoration: none;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }






/*Media queries*/


 /*Media queries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
    .nav-open{
        float: right;
         display: block !important;
         font-size: 1.4em;
         color: white;
     }
     .about-text{
        width: 100%;
        position: relative;
        top:100px;
        font-size: 1.5em;
        text-align: center;
        margin: 20px;
    }

    .main-about{ margin: 50px 0px ;   display: flex; flex-direction: column;}

    .about-image{    width: 100%;}

    .about-desc{   padding: 20px;}
    
    .about-desc h1{    font-size: 1.4em;}

    .about-desc p{ font-size:0.9em;}

    .about-desc .about-btn{  padding: 5px; font-weight: normal; }
    
    .nav-section li{     display: none;}
    
    .main-four{  padding: 10px;}

    .main-four h1{  font-size: 1.2em;}
    
    .main-four p{  font-size: 0.9em; font-weight: lighter;}
    
}

@media only screen and (min-width: 320px) {
    .nav-open{
        float: right;
         display: block !important;
         font-size: 1.4em;
         color: white;
     }
     .about-text{
        width: 100%;
        position: relative;
        top:100px;
        font-size: 1.5em;
        text-align: center;
        margin: 20px;
    }

    .main-about{ margin: 50px 0px ;   display: flex; flex-direction: column;}

    .about-image{    width: 100%;}

    .about-desc{   padding: 20px;}
    
    .about-desc h1{    font-size: 1.4em;}

    .about-desc p{ font-size:0.9em;}

    .about-desc .about-btn{  padding: 5px; font-weight: normal; }
    
    .nav-section li{     display: none;}
    
    .main-four{  padding: 10px;}

    .main-four h1{  font-size: 1.2em;}
    
    .main-four p{  font-size: 0.9em; font-weight: lighter;}
    
    .history{padding: 5px; }

    .history p{ font-size: 0.8em;}

    .history h2{ font-size: 1.5em;}

    .staff-header{font-size: 1.5em;}

    .staff-card p{font-size: 0.95em;}

    .main-tour{flex-direction: column; margin: 0px; padding: 0px;}

    .tour{flex-direction: column; margin: 0px; padding: 0px; border: none;}

    .tour img{width:100%; }

    .tour p{font-size: 0.9em; padding: 0px;}
 
    .location{align-self: center;}
}


@media only screen and (min-width: 480px) {

    .about-desc h1{    font-size: 1.5em;}

    .about-desc p{ font-size:0.95em;}

    .history{padding: 10px; }

    .history p{ font-size: 0.9em;}

    .history h2{ font-size: 1.8em;}

    .staff-header{font-size: 1.8em;}

    .tour p{font-size: 0.95em; padding: 0px;}
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
  @media screen and (min-width: 640px) {
    .about-text{
        width: inherit;
        position: relative;
        top:100px;
        font-size: 1.7em;
        padding: 50px;
        margin: 50px;
        align-self: center;
        justify-self: center;
    }

    .tour img{width:100%; height: 250px; }
    
    .history p{ font-size: 0.95em;}

    .history h2{ font-size: 2em;}

    .tour p{font-size: 0.95em; padding: 0px;}
}

  /* Medium devices (landscape tablets, 768px and up) */
    @media screen and (min-width: 768px){
     .nav-open{ display: none !important; }
        
     .nav-section li{     display: flex;}  

     .main-about{ margin: 50px 0px ;   display: flex; flex-direction: row;}

    .about-image{    width: 100%; justify-self: center;}

    .about-desc{   padding: 50px;}
    
    .about-desc h1{    font-size: 1.7em;}

    .about-desc p{ font-size:1em;}

    .about-desc .about-btn{  padding: 5px; font-weight: bold }
    
    .main-four{  padding: 10px;}

    .main-four h1{  font-size: 1.5em;}
    
    .main-four p{  font-size: 1em; font-weight: lighter;}

    .body-content h3{ font-size: 1.7em;}

    .history{padding: 10px; }

    .history p{ font-size: 0.9em;}

    .history h2{ font-size: 1.7em;}

    .staff-header{font-size: 1.6em;}

    .staff-card p{font-size: 0.95em;}

    .main-tour{flex-direction: row; margin: 0px; padding: 20px;}

    .tour{flex-direction: column; margin: 0px; padding: 0px; border: none;}

    .tour img{width:100%; }

    .tour p{font-size: 0.95em; padding: 10px;}
 
    .location{align-self:flex-start; margin:10px; justify-self: flex-end;}

    }

     
/* Large devices (laptops/desktops, 992px and up) */
    @media screen and (min-width: 1024px){

        .main-about{ margin: 50px 0px ;   display: flex; flex-direction: row;}
        
        .about-desc h1{    font-size: 1.9em; font-weight: bold;}
    
        .about-desc p{ font-size:1em; padding: 10px;}
    
        .about-desc .about-btn{  padding: 10px; font-weight: bold } 
        
        .main-four{  padding: 50px;}
    
        .main-four h1{  font-size: 1.7em;}
        
        .main-four p{  font-size: 1em; font-weight: normal;}
        
        .body-content h3{ font-size: 1.5em;}

        .history{padding: 50px; }

        .history p{ font-size: 1em;}
    
        .history h2{ font-size: 1.8em;}
    
        .staff-header{font-size: 1.8em;}
    
        .staff-card p{font-size: 1em;}
    
        .main-tour{flex-direction: row; margin: 0px; padding: 20px;}
    
        .tour{flex-direction: row; margin: 10px; padding: 0px; border-right: 1px solid grey;} 
    
        .tour img{ width:40%;}
    
        .tour p{font-size: 1em; padding: 5px;}

        .tour h3{font-size: 1.4em;}
     
        .location{align-self:flex-start; margin:10px; justify-self: flex-end;}
    
    
    }
     

    
/* Extra large devices (large laptops and desktops, 1200px and up) */
    @media screen and (min-width: 1200px){
     
    }